//ARTEGRA

@font-face {
    font-family: 'Artegra Sans';
    src: url('assets/fonts/artegra/ArtegraSans-Medium.eot');
    src: local('Artegra Sans Medium'), local('ArtegraSans-Medium'),
        url('assets/fonts/artegra/ArtegraSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/artegra/ArtegraSans-Medium.woff2') format('woff2'),
        url('assets/fonts/artegra/ArtegraSans-Medium.woff') format('woff'),
        url('assets/fonts/artegra/ArtegraSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Artegra Sans';
    src: url('assets/fonts/artegra/ArtegraSans-Black.eot');
    src: local('Artegra Sans Black'), local('ArtegraSans-Black'),
        url('assets/fonts/artegra/ArtegraSans-Black.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/artegra/ArtegraSans-Black.woff2') format('woff2'),
        url('assets/fonts/artegra/ArtegraSans-Black.woff') format('woff'),
        url('assets/fonts/artegra/ArtegraSans-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Artegra Sans';
    src: url('assets/fonts/artegra/ArtegraSans-Bold.eot');
    src: local('Artegra Sans Bold'), local('ArtegraSans-Bold'),
        url('assets/fonts/artegra/ArtegraSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/artegra/ArtegraSans-Bold.woff2') format('woff2'),
        url('assets/fonts/artegra/ArtegraSans-Bold.woff') format('woff'),
        url('assets/fonts/artegra/ArtegraSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Artegra Sans';
    src: url('assets/fonts/artegra/ArtegraSans-Light.eot');
    src: local('Artegra Sans Light'), local('ArtegraSans-Light'),
        url('assets/fonts/artegra/ArtegraSans-Light.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/artegra/ArtegraSans-Light.woff2') format('woff2'),
        url('assets/fonts/artegra/ArtegraSans-Light.woff') format('woff'),
        url('assets/fonts/artegra/ArtegraSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Artegra Sans';
    src: url('assets/fonts/artegra/ArtegraSans-SemiBold.eot');
    src: local('Artegra Sans SemiBold'), local('ArtegraSans-SemiBold'),
        url('assets/fonts/artegra/ArtegraSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/artegra/ArtegraSans-SemiBold.woff2') format('woff2'),
        url('assets/fonts/artegra/ArtegraSans-SemiBold.woff') format('woff'),
        url('assets/fonts/artegra/ArtegraSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Artegra Sans';
    src: url('assets/fonts/artegra/ArtegraSans-Regular.eot');
    src: local('Artegra Sans Regular'), local('ArtegraSans-Regular'),
        url('assets/fonts/artegra/ArtegraSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/artegra/ArtegraSans-Regular.woff2') format('woff2'),
        url('assets/fonts/artegra/ArtegraSans-Regular.woff') format('woff'),
        url('assets/fonts/artegra/ArtegraSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

//WEZOM

// @font-face {
//     font-family: 'Wezom';
//     src: url('assets/fonts/wezom/wezom.woff2') format('woff2');
//     font-weight: 700;
//     font-style: normal;
//     font-display: auto;
// }













