
.resume {
    background-repeat:no-repeat;
    background-size: cover;
    // background-attachment: fixed;
    background-position: 0 0;
}
//timeline
.block-title {
    text-align:center;
    padding-bottom: 5px;
    margin-bottom: 20px;
    h3 {
        display: inline-block;
        margin: 0;
        font-size: 22px;
        font-weight:700;
        color: #555 ;
        position:relative;
        border-bottom:3px solid $primary;
    }
}
.resume-timeline {
    margin-bottom: 30px;
}
.resume-timeline-item {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    padding-bottom: 15px;
    .left-part {
        width: 30%;
        display: table-cell;
        padding-right: 25px;
        min-height: 100%;
        text-align: right;
        vertical-align: top;
    }
    .right-part {
        width: 70%;
        display: table-cell;
        padding-left: 25px;
        padding-right: 15px;
        vertical-align: top;
    }
    .item-period {
        margin: 3px 0;
        font-size: 18px;
        font-weight:600;
        line-height: 1.4em;
    }
    .item-company {
        display: block;
        color: #aaa;
        margin: 0 0 4px;
        font-size: 14px;
        line-height: 1.45em;
        max-width:200px;
        margin-left:auto;
    }
    .item-position {
        font-size: 18px;
        font-weight:600;
        margin-bottom: 3px;
    }
    .item-position-description {
        font-size: 16px;
        margin-bottom:5px;
        max-width: 600px;
    }
    .item-tech-list {
        font-size: 16px;
        font-weight:500;
        padding-left:30px;
    }
}
.divider {
    position: absolute;
    top: 0;
    left: 30%;
    bottom: 0;
    width: 1px;
    background-color: #eee;
    &:after {
        content: '';
        display: block;
        margin-top: 7px;
        width: 11px;
        height: 11px;
        margin-left: -5px;
        border-radius: 5px;
        border: 2px solid $primary;
        background-color: #fff;
    }
}
.skill-list {
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.skill-item {
    margin-bottom:10px;
    width:100%;
    & + .default-btn {
        margin-top:25px;
    }
}
.skill-top {
    display:flex;
    justify-content: space-between;
    align-items:center;
    margin-bottom:5px;
}
.skill-name {
    font-size: 18px;
    margin: 0px;
    font-weight:600;
}
.skill-percent {
    display:inline-block;
    font-size: 16px;
}
.skill-line {
    width:100%;
    background:#ddd;
    height:5px;
    border-radius:5px;
    span {
        display:block;;
        height:100%;
        background:$primary;
        border-radius:5px;
    }
}
.skill-description {
    margin:10px 0;
    p {
        margin: 0;
        font-size: 16px;
    }
}

@media screen and (max-width:768px) {
    .resume {
        background-image: none !important;
    }
    .resume-timeline-item {
        display: block;
        .left-part {
            width: 100%;
            background: #fbfbfb;
            display: block;
            padding: 10px;
            border: 1px solid #eee;
        }
        .item-period {
            text-align: center;
        }
        .item-company {
            max-width: none;
            margin-left: 0;
            text-align: center;
        }
        .divider {
            display: none;
        }
        .right-part {
            width: 100%;
            display: block;
            padding: 10px;
            border: 1px solid #eee;
            border-top: 0;
        }
        .item-position {
            text-align: center;
            margin-bottom: 10px;
        }
    }
}